@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* --- CUSTOM SLIM SCROLLBAR --- */
.slim-scrollbar {
  /* Untuk Firefox */
  scrollbar-width: thin; 
  scrollbar-color: #475569 transparent; 
}

/* Untuk Chrome, Edge, Safari */
.slim-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;  
}

.slim-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 9999px;
}

.slim-scrollbar::-webkit-scrollbar-thumb {
  background-color: #334155; 
  border-radius: 9999px;
  border: 2px solid #0B1120;
  background-clip: padding-box;
}

.slim-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #06b6d4; 
}